<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10 ml-10 mr-10 mt-20"
    >
      <div class="shadow-lg rounded-lg">
        <a>
          <img
            src="../assets/Fashion.png"
            alt=""
            class="rounded-tl-lg rounded-tr-lg"
          />
        </a>
        <div class="p-5">
          <h3><a href="">Mens T-Shirt</a></h3>
          <div class="flex flex-row my-3">
            <div class="bg-black h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-blue-800 h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-white h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-red-800 h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-green-700 h-5 w-5 rounded-full shadow-md mr-2"></div>
          </div>
          <div class="flex flex-row my-3">
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              XL
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              XXL
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              L
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              M
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              S
            </div>
          </div>
          <div class="flex flex-row justify-between">
            <a
              href="#"
              class="bg-gradient-to-r from-red-600 to-pink-500 rounded-full py-2 px-4 text-gray-50 hover:from-pink-600 hover:to-pink-600"
              >Add to Cart</a
            >
            <a
              href="#"
              class="bg-purple-600 rounded-full py-2 px-4 text-gray-50 hover:bg-purple-700"
              >View Details</a
            >
          </div>
        </div>
      </div>
      <!-- 2nd -->
      <div class="shadow-lg rounded-lg">
        <a>
          <img
            src="../assets/Fashion.png"
            alt=""
            class="rounded-tl-lg rounded-tr-lg"
          />
        </a>
        <div class="p-5">
          <h3><a href="">Mens T-Shirt</a></h3>
          <div class="flex flex-row my-3">
            <div class="bg-black h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-blue-800 h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-white h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-red-800 h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-green-700 h-5 w-5 rounded-full shadow-md mr-2"></div>
          </div>
          <div class="flex flex-row my-3">
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              XL
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              XXL
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              L
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              M
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              S
            </div>
          </div>
          <div class="flex flex-row justify-between">
            <a
              href="#"
              class="bg-gradient-to-r from-red-600 to-pink-500 rounded-full py-2 px-4 text-gray-50 hover:from-pink-600 hover:to-pink-600"
              >Add to Cart</a
            >
            <a
              href="#"
              class="bg-purple-600 rounded-full py-2 px-4 text-gray-50 hover:bg-purple-700"
              >View Details</a
            >
          </div>
        </div>
      </div>
      <!-- 3rd -->
      <div class="shadow-lg rounded-lg">
        <a>
          <img
            src="../assets/Fashion.png"
            alt=""
            class="rounded-tl-lg rounded-tr-lg"
          />
        </a>
        <div class="p-5">
          <h3><a href="">Mens T-Shirt</a></h3>
          <div class="flex flex-row my-3">
            <div class="bg-black h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-blue-800 h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-white h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-red-800 h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-green-700 h-5 w-5 rounded-full shadow-md mr-2"></div>
          </div>
          <div class="flex flex-row my-3">
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              XL
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              XXL
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              L
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              M
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              S
            </div>
          </div>
          <div class="flex flex-row justify-between">
            <a
              href="#"
              class="bg-gradient-to-r from-red-600 to-pink-500 rounded-full py-2 px-4 text-gray-50 hover:from-pink-600 hover:to-pink-600"
              >Add to Cart</a
            >
            <a
              href="#"
              class="bg-purple-600 rounded-full py-2 px-4 text-gray-50 hover:bg-purple-700"
              >View Details</a
            >
          </div>
        </div>
      </div>
      <!-- 4th -->
      <div class="shadow-lg rounded-lg">
        <a>
          <img
            src="../assets/Fashion.png"
            alt=""
            class="rounded-tl-lg rounded-tr-lg"
          />
        </a>
        <div class="p-5">
          <h3><a href="">Mens T-Shirt</a></h3>
          <div class="flex flex-row my-3">
            <div class="bg-black h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-blue-800 h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-white h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-red-800 h-5 w-5 rounded-full shadow-md mr-2"></div>
            <div class="bg-green-700 h-5 w-5 rounded-full shadow-md mr-2"></div>
          </div>
          <div class="flex flex-row my-3">
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              XL
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              XXL
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              L
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              M
            </div>
            <div
              class="border-2 border-gray-300 text-gray-400 rounded-md text-xs px-2 py-1 mr-2"
            >
              S
            </div>
          </div>
          <div class="flex flex-row justify-between">
            <a
              href="#"
              class="bg-gradient-to-r from-red-600 to-pink-500 rounded-full py-2 px-4 text-gray-50 hover:from-pink-600 hover:to-pink-600"
              >Add to Cart</a
            >
            <a
              href="#"
              class="bg-purple-600 rounded-full py-2 px-4 text-gray-50 hover:bg-purple-700"
              >View Details</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
